header h1 {
  text-align: center;
}

.grill {
  box-sizing: border-box;
  width: 755px !important;
  height: 566px;
  border: 1px solid black;
  padding:0px !important;
  
}

.steak {
  box-sizing: border-box;
  width: 188.5px;
  height: 151px;
  border: 1px solid black;
  float: left;
}

.sausage {
  width: 302px;
  height: :75.590551181px;
  border: 1px solid black;
  float: right;
}

.tomato {
  width: 113.385826772px;
  height: 113.385826772px;
  border: 1px solid black;
  clear: both;
}

.veal {
  width: 151.181102362px;
  height: 113.385826772px;
  border: 1px solid black;
}